body {
    background-color: #f0f2f5;
}

.container-account {
    text-align: center;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.container-title {
    margin: 0 auto;
    max-width: 500px;
}

.account-title {
    color: #1877f2;
    padding-top: 40px;
    font-size: 60px;
}

.account-subtitle {
    color: rgb(28, 30, 33);
    font-size:24px;
    font-weight: inherit;
    padding: 20px;
}

.account-form-container {
    width: 340px;
    background-color: white;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
}

.account-form-container input {
    width: 330px;
    margin-bottom: 20px;
    height: 50px;
}

.account-form-container .btn {
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    transition: 200ms;
}
.account-form-container .btn:hover {
    cursor: pointer;
    opacity: .9;
}

.account-form-container .btn-login {
    background-color: #1877f2;
    width: 330px;
    margin-bottom: 20px;
}

.account-form-container .btn-new-account {
    background-color: #42b72a;
    width: 230px;
}

.lk-forget-password {
    color: #1877f2;
    font-weight: 500;
    text-decoration: #1877f2;
    font-size: 14px;
}

.line {
    border-bottom: 1px #cec6c6 solid;
}