* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #18191a;
  font-family: Helvetica, Arial, sans-serif;
}

.line {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px #848080 solid;
  width: 90%;
}

#overlay-modal {
  background-color: #000000c2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.new-post-card {
  background-color: #242526;
  width: 400px;
  height: 360px;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  margin-top: 80px;
  padding: 20px;
}

.new-post-card .title {
  font-size: 20px;
  width: 90%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
  border-bottom: 1px #504f4f solid;
  margin: 0 auto;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  transition: 200ms;
}

.btn:hover {
  cursor: pointer;
  opacity: .9;
}

.btn.cancel {
  background-color: white;
  color: #504f4f;
}

.btn.post {
  background-color: #2d88ff;
}

.post-textarea {
  background-color: rgba(0,0,0,0);
  width: 90%;
  height: 180px;
  resize: none;
  border: none;
  color: white;
  font-size: 24px;
  margin-left: 20px;
}

.new-post-card .footer {
  text-align: end;
  margin-top: 10px;
}

.post-upload {
  text-align: center;
  border-bottom: 1px #504f4f solid;
  border-top: 1px #504f4f solid;
  padding: 20px;
}