@{
    ViewData["Title"] = "Home Page";
}

<div class="container-perfil">
    <div class="container-cover-photo">
        <div class="cover-photo">
            <img src="img/naruto-cover.jpg" />
        </div>
    </div>

    <div class="container-perfil-photo">
        <div class="perfil-photo">
            <img src="img/naruto-perfil.jpg" />
        </div>
    </div>
    <h3 class="perfil-username">Naruto Uzumaki</h3>
    <div class="line"></div>
    <br />
</div>
<div class="container-posts">
    <h2>TESTE</h2>
</div>